@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('Light\ Blue\ Desktop.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 30px;
}

form {
    background: transparent;
    width: 400px;
    min-height: 450px;
    padding: 24px 32px;
    border: 3px solid rgb(29, 98, 174);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(29, 98, 174, 0.5);
}

form h2 {
    font-size: 22px;
    color: #737e90;
    font-weight: 600;
    padding-bottom: 20px;
}

.input-container {
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input-container input {
    background: transparent;
    border: none;
    width: 100%;
    padding: 18px 0;
}

.input-container input::placeholder {
    color: #737e90;
}

.input-container input:focus {
    border: 0;
    outline: 0;
}

.input-container i {
    padding-inline: 20px;
    font-size: 18px;
    color: #737e90;
}

form .forget {
    font-size: 12px;
    text-decoration: none;
    color: #737e90;
}

form .forget:hover {
    color: #3b83e5;
}

.login-btn {
    width: 100%;
    background: #3b83e5;
    color: #fff;
    padding: 12px 32px;
    margin-top: 20px;
    border-radius: 8px;
}

.login-btn a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.sign-in-btn {
    width: 100%;
    background: #fff;
    color: #3b83e5;
    padding: 12px 32px;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.sign-in-btn a {
    color: #3b83e5;
    text-decoration: none;
    font-weight: 500;
}

.sign-in-btn:hover {
    background: #3b83e5;
}

.sign-in-btn:hover a {
    color: #fff;
}

p {
    font-size: 12px;
    color: #737e90;
    padding-bottom: 20px;
    opacity: 0.7;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-icons i {
    cursor: pointer;
}
